@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F8F6E3;
}
::-moz-selection {
    /* Code for Firefox */
    /* color: red; */
    background: #B1F0F7;
}

::selection {
    /* color: red; */
    background: #B1F0F7 ;
}